
using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using CocoriCore;
using CocoriCore.Linq.Async;

namespace {{ProjectName}}.{{Domain}}
{
    public class {{CommandName}}Command : ICommand
    {
        // TODO : Add EntityName fields if WithEntity
        // public string Data;
    }

    public class {{CommandName}}Handler : CreateCommandHandler<{{CommandName}}Command>
    {
        private readonly IRepository repository;

        public {{CommandName}}Handler(IRepository repository)
        {
            this.repository = repository;
        }

        public async override Task<Guid> ExecuteAsync({{CommandName}}Command command)
        {
            {{#if WithEntity}}
                var {{EntityName}} = new {{EntityName}}();
                await this.repository.InsertAsync(produit);
                return produit.Id;
            {{/if}}
        }
    }
}