using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using {{ProjectName}}.{{Domain}};
using Xunit;

namespace {{ProjectName}}.WebApi.Test
{
    public class TestInstantiateMiddleware
    {
        [Fact]
        public void InstantiateMiddleware()
        {
            var kernel = CreateKernel();
            var unitOfWorkFactory = kernel.Get<IUnitOfWorkFactory>();

            using (var unitOfWork = unitOfWorkFactory.NewUnitOfWork())
            {
                unitOfWork.Resolve<ApplicationMiddleware>();
            }
        }
    }
}