using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using {{ProjectName}}.{{Domain}};
using Xunit;

namespace {{ProjectName}}.WebApi.Test
{
    public class TestGenerateFootprint
    {
        [Fact]
        public async void GenerateFootprint()
        {
            var kernel = CreateKernel();
            var unitOfWorkFactory = kernel.Get<IUnitOfWorkFactory>();

            using (var unitOfWork = unitOfWorkFactory.NewUnitOfWork())
            {
                var messageBus = await unitOfWork.Resolve<IMessageBus>();
                var apiFootprint = await messageBus.ExecuteAsync(new ApiFootprintQuery());
                File.WriteAllText("../../footprint.json", JsonConvert.SerializeObject(apiFootprint));
            }
        }
    }
}