using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using CocoriCore;
using CocoriCore.Linq.Async;

namespace {{ProjectName}}.{{Domain}}
{
    public class {{QueryName}}Query : IQuery
    {
        public Guid Id;
    }

    public class {{QueryName}}Response
    {
    }

    public class {{QueryName}}Handler : QueryHandler<{{QueryName}}Query, {{QueryName}}Response>
    {
        private readonly IRepository repository;

        public {{QueryName}}Handler(IRepository repository)
        {
            this.repository = repository;
        }

        public async override Task<{{QueryName}}Response> ExecuteAsync({{QueryName}}Query query)
        {
            {{#if WithEntity}}
            var {{EntityName}} = await this.repository.Query<{{EntityName}}>().FirstAsync();
            {{/if}}


            var response = new {{QueryName}}Response();
            return response;
        }
    }
}