﻿using CocoriCore.Application;
using Newtonsoft.Json;
using {{ProjectName}}.Application.Domain;
using {{ProjectName}}.Application.Read.Query;
using {{ProjectName}}.Application.Write.Command;

namespace {{ProjectName}}.Api
{
    public class {{ProjectName}}Router : CocoriCore.Router
    {
        public {{ProjectName}}Router(JsonSerializer jsonSerializer)
            : base(jsonSerializer)
        {
            /*
            Get<GetFileQuery>().AddPath("files").AddUrlParameter(x => x.Id);
            Delete<DeleteFileCommand>().AddPath("files").AddUrlParameter(x => x.Id);

            Put<AuthenticateUserCommand>().AddPath("authentication").AddPath("login").UseBody();
            Get<GetNewAccessTokenQuery>().AddPath("authentication").AddPath("refresh").UseQuery();

            Put<ResetUserPasswordCommand>().AddPath("users").AddPath("password").UseBody();
            Get<AskPasswordResetQuery>().AddPath("users").AddPath("password").AddPath("forgotten").UseQuery();
            */
        }
    }
}
