﻿using Autofac;
using CocoriCore;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.Configuration;
using System;
using System.Collections.Generic;
using System.Threading.Tasks;

namespace {{ProjectName}}.Api
{
    public class Startup
    {
        protected ILifetimeScope _rootScope;
        protected List<Action<IApplicationBuilder, ILifetimeScope>> _appBuilderAction;
        protected IConfiguration _config;
        protected IHostingEnvironment _environment;
        protected AppSettings _{{ProjectName}}Config;

        public Startup(IHostingEnvironment environment)
        {
            _environment = environment;
            _config = CreateConfiguration(environment);
            //TODO TECH rendre plus facilement configurable les middlewares dans pour les projets clients
            _appBuilderAction = new List<Action<IApplicationBuilder, ILifetimeScope>>()
            {
                (app, scope) => app.UseMiddleware<CorsMiddleware>(scope),
                (app, scope) => app.UseMiddleware<HttpContextScopeMiddleware>(scope),
                (app, scope) => app.UseMiddleware<HttpErrorMiddleware>(scope),
                (app, scope) => app.UseMiddleware<ErrorBusMiddleware>(scope),
                (app, scope) => app.UseMiddleware<AppMiddleware>(scope),
                //TODO TECH pouvoir débrancher facilement le DataSetMiddleware
                (app, scope) => app.UseMiddleware<NotFoundMiddleware>(scope)
            };
        }

        protected virtual IConfiguration CreateConfiguration(IHostingEnvironment env)
        {
            string appSettingsFileName = GetAppSettingsFileName(env);
            var builder = new ConfigurationBuilder()
                .AddJsonFile(appSettingsFileName)
                .SetBasePath(env.ContentRootPath);
            return builder.Build();
        }

        private static string GetAppSettingsFileName(IHostingEnvironment env)
        {
            return $"appsettings.{env.EnvironmentName}.json";
        }

        public void Configure(IApplicationBuilder app)
        {
            //TODO TECH brancher mode debug depuis appSettings ?
            if (_environment.IsDebug())
            {
                app.UseDeveloperExceptionPage();
            }
            _{{ProjectName}}Config = CreateApplicationConfiguration(_config);
            _rootScope = CreateContainerBuilder().Build();
            AfterConfigure();
            _appBuilderAction.ForEach(action => action(app, _rootScope));
        }

        protected virtual AppSettings CreateApplicationConfiguration(IConfiguration configuration)
        {
            var {{ProjectName}}Config = new AppSettings();
            ConfigurationBinder.Bind(configuration, {{ProjectName}}Config);
            return {{ProjectName}}Config;
        }

        protected virtual ContainerBuilder CreateContainerBuilder()
        {
            var builder = new ContainerBuilder();
            var ioc = new IoCApi(builder, _{{ProjectName}}Config, _environment);
            ioc.ConfigureAndRegister();
            return builder;
        }

        //TODO TECH on devrait se faire injecter la conf plutôt 
        protected virtual Task AfterConfigure()
        {
            var router = _rootScope.Resolve<IRouter>();
            router.CheckDuplicatesRoutes();
            var corsMiddleware = _rootScope.Resolve<CorsMiddleware>();
            corsMiddleware.AllowOrigins(_{{ProjectName}}Config.AllowedOrigins);
            return Task.CompletedTask;
        }
    }
}
