using System;
using System.Threading.Tasks;
using {{ProjectName}}.{{Domain}};
using Xunit;

namespace {{ProjectName}}.{{Domain}}.Test
{
    public class Test{{CommandName}} : TestWithHelper
    {
        [Fact]
        public async Task {{CommandName}}()
        {
            var created = (Guid)await helper.ExecuteAsync(new {{CommandName}}Command()
            {
            });

            var entity = await helper.LoadAsync<{{EntityName}}>(produitId);
        }
    }
}
