
/*
 * A conventional class name to get this Assembly
 * NameSpace.AssemblyInfo.Assembly
 */

using System.Reflection;

namespace {{ProjectName}}.{{Domain}}
{
    public class AssemblyInfo
    {
        public static Assembly Assembly => typeof(AssemblyInfo).Assembly;
    }
}