FROM mcr.microsoft.com/dotnet/core/sdk:2.2-alpine AS builder
WORKDIR /app

# copy csproj and restore as distinct layers
COPY *.sln .
COPY {{ProjectName}}.{{Domain}}/*.csproj ./{{ProjectName}}.{{Domain}}/
COPY {{ProjectName}}.{{Domain}}.Test/*.csproj ./{{ProjectName}}.{{Domain}}.Test/
COPY {{ProjectName}}.WebApi/*.csproj ./{{ProjectName}}.WebApi/
COPY {{ProjectName}}.WebApi.Test/*.csproj ./{{ProjectName}}.WebApi.Test/
RUN dotnet restore

# copy everything else and build app
COPY . .
RUN dotnet publish -c Release -o /out

# EXTRACT ARTIFACT #
FROM scratch
WORKDIR /app
COPY --from=builder /out .

## OR run it with microsoft runtime #
# Build runtime image
#FROM mcr.microsoft.com/dotnet/core/aspnet:2.2-alpine
#WORKDIR /app
#COPY --from=builder /app .
#ENTRYPOINT ["dotnet", "{{ProjectName}}.WebApi.dll"]