﻿using System.Reflection;

namespace {{ProjectName}}.Application.Configuration
{
    public class AssemblyInfo
    {
		public static Assembly Assembly => typeof(AssemblyInfo).Assembly;
    }
}
