﻿using Autofac;
using CocoriCore;
using {{ProjectName}}.Application.Read.Query;
using {{ProjectName}}.Application.Write.Command;

namespace {{ProjectName}}.Application.Configuration
{
    public static class AuthenticationConfiguration
    {
        public static AuthenticationOptionsBuilder Configure(this AuthenticationOptionsBuilder builder)
        {
            //TODO {{Domain}} : mettre toutes les routes en private une fois auth impl
            builder
                .DefaultPublic()
                .Public<AuthenticateUserCommand>()
                .Public<AskPasswordResetQuery>()
                .Public<ResetUserPasswordCommand>()
                .Public<GetNewAccessTokenQuery>();
            return builder;
        }

        public static ContainerBuilder RegisterAuthentication(this ContainerBuilder builder, AuthenticationOptionsBuilder optionsBuilder)
        {
            builder.Register(c => optionsBuilder.Options).As<AuthenticationOptions>().SingleInstance();
            builder.RegisterType<AuthenticationController>().As<IAuthenticationController>().SingleInstance();
            builder.RegisterType<AccessController>().AsSelf().InstancePerLifetimeScope();
            return builder;
        }
    }
}
