using Autofac;
using AutoMapper;
using CocoriCore;
using System.Reflection;
using CocoriCore.Application;

namespace {{ProjectName}}.Application.Configuration
{

    public static class AutoMapperConfigurationExtension
    {
        private static Assembly[] autoMapperAssemblies = new Assembly[]
        {
            CocoriCore.Application.AssemblyInfo.Assembly,
            Common.AssemblyInfo.Assembly,
            Write.AssemblyInfo.Assembly,
            Read.AssemblyInfo.Assembly,
            Derivation.AssemblyInfo.Assembly
        };

        public static AutoMapperOptionsBuilder Configure(this AutoMapperOptionsBuilder builder)
        {
            builder
                .Expression
                .AddProfiles(
                    CocoriCore.Application.AssemblyInfo.Assembly,
                    Common.AssemblyInfo.Assembly,
                    Write.AssemblyInfo.Assembly,
                    Read.AssemblyInfo.Assembly,
                    Derivation.AssemblyInfo.Assembly);
            return builder;
        }

        public static ContainerBuilder RegisterAutoMapper(this ContainerBuilder builder, AutoMapperOptionsBuilder configurationBuilder)
        {
            builder.RegisterAssemblyTypes(autoMapperAssemblies)
               .AssignableTo<Profile>()
               .AsSelf();
            builder.RegisterAssemblyTypes(autoMapperAssemblies)
                .AsClosedTypesOf(typeof(ITypeConverter<,>))
                .AsSelf();
            builder.Register(c => configurationBuilder.Configuration).As<MapperConfiguration>().SingleInstance();
            builder.Register(c => c.Resolve<MapperConfiguration>().CreateMapper(c.Resolve<IComponentContext>().Resolve))
                .As<IMapper>()
                .InstancePerLifetimeScope();
            return builder;
        }
    }
}
