using CocoriCore.Derivation;
using {{ProjectName}}.Application.Domain;
using {{ProjectName}}.Application.Projection;
using {{ProjectName}}.Application.Derivation;
using Autofac;
using System.Reflection;

namespace {{ProjectName}}.Application.Configuration
{
    public static class DerivationBusConfiguration
    {
        private static Assembly cocoriCoreDerivationAssembly = CocoriCore.Derivation.AssemblyInfo.Assembly;
        private static Assembly derivationAssembly = Derivation.AssemblyInfo.Assembly;

        public static DerivationBusOptionsBuilder Configure(this DerivationBusOptionsBuilder builder)
        {
            builder.ConfigureMappings(derivationAssembly);
			builder.Project<User>().Into<UserProjection>().UsingMapping();
            return builder;
        }

        public static ContainerBuilder RegisterDerivation(this ContainerBuilder builder, DerivationBusOptionsBuilder optionsBuilder)
        {
            builder.Register(c => optionsBuilder.Options).As<DerivationBusOptions>().SingleInstance();
            builder.RegisterType<DerivationBus>().As<IDerivationBus>().InstancePerLifetimeScope();
            builder.RegisterAssemblyTypes(cocoriCoreDerivationAssembly)
                .AssignableTo<IDerivationHandler>()
                .AsSelf()
                .InstancePerLifetimeScope();
            builder.RegisterAssemblyTypes(cocoriCoreDerivationAssembly, derivationAssembly)
                .AssignableTo<ISynchronizer>()
                .AsSelf()
                .InstancePerLifetimeScope();
            return builder;
        }
    }
}
