﻿using Autofac;
using CocoriCore;
using System.Reflection;
using {{ProjectName}}.Application.Domain;
using {{ProjectName}}.Application.Common;
using {{ProjectName}}.Application.Write;

namespace {{ProjectName}}.Application.Configuration
{
    public static class DomainConfiguration
    {
        private static Assembly cocoriCoreApplicationAssembly = CocoriCore.Application.AssemblyInfo.Assembly;
        private static Assembly domainAssembly = Domain.AssemblyInfo.Assembly;
        private static Assembly projectionAssembly = Projection.AssemblyInfo.Assembly;
        private static Assembly commonAssembly = Common.AssemblyInfo.Assembly;
        private static Assembly commandAssembly = Write.AssemblyInfo.Assembly;

        public static ContainerBuilder RegisterDomain(this ContainerBuilder builder, TokenConfiguration tokenConfiguration)
        {
            builder.RegisterType<{{ProjectName}}Claims>().As<AccessClaims>().AsSelf();
            builder.RegisterType<RefreshClaims>().AsSelf();
            builder.RegisterType<ResetPasswordClaims>().AsSelf();
            builder.RegisterType<UserEmailUnicityChecker>().AsSelf().InstancePerLifetimeScope();
            builder.RegisterType<Renderer>().As<IRenderer>().InstancePerLifetimeScope();
            builder.RegisterType<ExceptionFactory>().As<IExceptionFactory>().InstancePerLifetimeScope();
            builder.RegisterAssemblyTypes(cocoriCoreApplicationAssembly, domainAssembly, projectionAssembly)
                .AssignableTo<IEntity>()
                .AsSelf();
            builder.RegisterType<UserService>().As<IUserService>().InstancePerLifetimeScope();
            builder.RegisterInstance(tokenConfiguration);
            return builder;
        }
    }
}
