﻿using CocoriCore;
using CocoriCore.Application;
using {{ProjectName}}.Application.Domain;
using {{ProjectName}}.Application.Read.Query;
using {{ProjectName}}.Application.Write.Command;

namespace {{ProjectName}}.Application.Configuration
{
    public static class FeatureConfiguration
    {
        public static FeatureOptions Configure(this FeatureOptions options)
        {
            return options;
        }
    }
}
