﻿using Autofac;
using CocoriCore;
using {{ProjectName}}.Application.Common;

namespace {{ProjectName}}.Application.Configuration
{
    public static class InfrastructureConfiguration
    {
        public static ContainerBuilder RegisterInfrastructure(this ContainerBuilder builder)
        {
            builder.RegisterType<JWTSerializer>().AsSelf().SingleInstance();
            builder.RegisterType<HashService>().As<IHashService>().SingleInstance();
            builder.RegisterType<RandomService>().As<IRandomService>().SingleInstance();
            builder.RegisterType<TypeProvider>().As<ITypeProvider>().SingleInstance();
            builder.RegisterType<UIDProvider>().As<IUIDProvider>().SingleInstance();
            return builder;
        }
    }
}
