﻿using Autofac;
using CocoriCore;
using CocoriCore.Derivation;
using {{ProjectName}}.Application.Common;

namespace {{ProjectName}}.Application.Configuration
{
    public abstract class IoCApplication
    {
        protected const string BASE_REPO = "baseRepository";
        protected const string RELOADER = "reloader";

        protected ContainerBuilder _builder;
        protected UnitOfWorkOptionsBuilder _unitOfWorkOptionsBuilder;
        protected AuthenticationOptionsBuilder _authenticationOptionsBuilder;
        protected FeatureOptions _featureOptions;
        protected MessageBusOptionsBuilder _messageBusOptionsBuilder;
        protected DerivationBusOptionsBuilder _derivationBusOptionsBuilder;
        protected AutoMapperOptionsBuilder _autoMapperConfigurationBuilder;
        protected TokenConfiguration _tokenConfiguration;
        protected ResourceProviderOptionsBuilder _resourceProviderOptionsBuilder;

        public IoCApplication(ContainerBuilder builder)
        {
            _builder = builder;
            _authenticationOptionsBuilder = new AuthenticationOptionsBuilder();
            _autoMapperConfigurationBuilder = new AutoMapperOptionsBuilder();
            _derivationBusOptionsBuilder = new DerivationBusOptionsBuilder();
            _featureOptions = new FeatureOptions();
            _messageBusOptionsBuilder = new MessageBusOptionsBuilder();
            _resourceProviderOptionsBuilder = new ResourceProviderOptionsBuilder();
            _tokenConfiguration = new TokenConfiguration();
            _unitOfWorkOptionsBuilder = new UnitOfWorkOptionsBuilder();
        }

        protected virtual TypedParameter<IRepository> BaseRepository => new TypedParameter<IRepository>(BASE_REPO);

        public virtual void ConfigureAndRegister()
        {
            Configure();
            Register();
        }

        public virtual void Configure()
        {
            _authenticationOptionsBuilder = ConfigureAuthentication(_authenticationOptionsBuilder);
            _autoMapperConfigurationBuilder = ConfigureAutoMapper(_autoMapperConfigurationBuilder);
            _derivationBusOptionsBuilder = ConfigureDerivationBus(_derivationBusOptionsBuilder);
            _featureOptions = ConfigureFeatures(_featureOptions);
            _messageBusOptionsBuilder = ConfigureMessageBus(_messageBusOptionsBuilder);
            _resourceProviderOptionsBuilder = ConfigureResourceProvider(_resourceProviderOptionsBuilder);
            _tokenConfiguration = ConfigureToken(_tokenConfiguration);
            _unitOfWorkOptionsBuilder = ConfigureUnitOfWork(_unitOfWorkOptionsBuilder);
        }

        public virtual void Register()
        {
            RegisterAuthentication(_authenticationOptionsBuilder);
            RegisterAutoMapper(_autoMapperConfigurationBuilder);
            RegisterInfrastructure();
            RegisterDerivationBus(_derivationBusOptionsBuilder);
            RegisterFeatures(_featureOptions);
            RegisterDomain(_tokenConfiguration);
            RegisterMessageBus(_messageBusOptionsBuilder);
            RegisterRepository();
            RegisterResourceProvider(_resourceProviderOptionsBuilder);
            RegisterUnitOfWork(_unitOfWorkOptionsBuilder);
        }

        public virtual UnitOfWorkOptionsBuilder ConfigureUnitOfWork(UnitOfWorkOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        public virtual AuthenticationOptionsBuilder ConfigureAuthentication(AuthenticationOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        public virtual MessageBusOptionsBuilder ConfigureMessageBus(MessageBusOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        public virtual AutoMapperOptionsBuilder ConfigureAutoMapper(AutoMapperOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        public virtual DerivationBusOptionsBuilder ConfigureDerivationBus(DerivationBusOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        public virtual FeatureOptions ConfigureFeatures(FeatureOptions options)
        {
            return options.Configure();
        }

        public virtual ResourceProviderOptionsBuilder ConfigureResourceProvider(ResourceProviderOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        public virtual TokenConfiguration ConfigureToken(TokenConfiguration tokenConfiguration)
        {
            return tokenConfiguration.Configure();
        }

        public virtual void RegisterUnitOfWork(UnitOfWorkOptionsBuilder optionsBuilder)
        {
            _builder.RegisterUnitOfWork(optionsBuilder);
        }

        public virtual void RegisterAuthentication(AuthenticationOptionsBuilder optionsBuilder)
        {
            _builder.RegisterAuthentication(optionsBuilder);
        }

        public virtual void RegisterMessageBus(MessageBusOptionsBuilder optionsBuilder)
        {
            _builder.RegisterMessageBus(optionsBuilder, BaseRepository);
        }

        public virtual void RegisterFeatures(FeatureOptions options)
        {
            _builder.RegisterInstance(options);
        }

        public virtual void RegisterRepository()
        {
            _builder.RegisterRepository(BaseRepository);
        }

        public virtual void RegisterAutoMapper(AutoMapperOptionsBuilder configurationBuilder)
        {
            _builder.RegisterAutoMapper(configurationBuilder);
        }

        public virtual void RegisterDerivationBus(DerivationBusOptionsBuilder optionsBuilder)
        {
            _builder.RegisterDerivation(optionsBuilder);
        }

        public virtual void RegisterDomain(TokenConfiguration tokenConfiguration)
        {
            _builder.RegisterDomain(tokenConfiguration);
        }

        public virtual void RegisterResourceProvider(ResourceProviderOptionsBuilder optionsBuilder)
        {
            _builder.RegisterResourceProvider(optionsBuilder);
        }

        public virtual void RegisterInfrastructure()
        {
            _builder.RegisterInfrastructure();
        }
    }
}
