using Autofac;
using CocoriCore;
using CocoriCore.Derivation;
using CocoriCore.ExtendedValidation;
using CocoriCore.BigProjectValidation;
using BigProjectValidation;
using System.Reflection;

namespace {{ProjectName}}.Application.Configuration
{
    public static class MessageBusConfiguration
    {
        private static Assembly cocoriCoreAssembly = CocoriCore.AssemblyInfo.Assembly;
        private static Assembly cocoriCoreApplicationAssembly = CocoriCore.Application.AssemblyInfo.Assembly;
        private static Assembly commonAssembly = Common.AssemblyInfo.Assembly;
        private static Assembly commandAssembly = Write.AssemblyInfo.Assembly;
        private static Assembly queryAssembly = Read.AssemblyInfo.Assembly;

        public static MessageBusOptionsBuilder Configure(this MessageBusOptionsBuilder builder)
        {
            builder
                .ForAll<IMessage>(cocoriCoreAssembly, commandAssembly, queryAssembly, cocoriCoreApplicationAssembly)
                .Call<AccessController>((a, c) => a.CheckUserAccesRights(c.Message))
                .CallValidators(commandAssembly, queryAssembly, commonAssembly)
                .CallHandlerValidators(cocoriCoreApplicationAssembly, commandAssembly, queryAssembly)
                .CallMessageHandlers(cocoriCoreApplicationAssembly, commandAssembly, queryAssembly)
                .Call<IDerivationBus>((b, c) => b.ApplyRulesAsync())
                .Call<ITransactionHolder>((t, c) => t.CommitAsync());
            return builder;
        }

        public static ContainerBuilder RegisterMessageBus(this ContainerBuilder builder,
            MessageBusOptionsBuilder optionsBuilder, TypedParameter<IRepository> baseRepository)
        {
            builder.Register(c => optionsBuilder.Options).As<MessageBusOptions>().SingleInstance();
            builder.RegisterType<MessageBus>().As<IMessageBus>().InstancePerLifetimeScope();
            builder.RegisterAssemblyTypesOrGenerics(cocoriCoreApplicationAssembly, commandAssembly)
               .AssignableTo<ICommandHandler>()
               .AsSelf();
            builder.RegisterAssemblyTypesOrGenerics(cocoriCoreApplicationAssembly, queryAssembly)
                .AssignableTo<IQueryHandler>()
                .AsSelf()
                .WithParameter(baseRepository);
            builder.RegisterAssemblyTypes(cocoriCoreApplicationAssembly, commonAssembly, commandAssembly, queryAssembly)
                .AssignableTo<IValidator>()
                .AsSelf()
                .As<IValidator>();
            return builder;
        }
    }
}
