﻿using Autofac;
using CocoriCore;
using {{ProjectName}}.Application.Common;

namespace {{ProjectName}}.Application.Configuration
{
    public static class RepositoryConfiguration
    {
        public static ContainerBuilder RegisterRepository(this ContainerBuilder builder, TypedParameter<IRepository> baseRepository)
        {
            builder.RegisterType<RepositoryBusContextStore>().AsSelf().InstancePerLifetimeScope();
            builder.RegisterType<{{ProjectName}}Repository>()
                .As<IRepository, IDerivationRepository>()
                .WithParameter(baseRepository)
                .InstancePerLifetimeScope();
            return builder;
        }
    }
}
