using {{ProjectName}}.Application.Domain;
using CocoriCore;
using Autofac;

namespace {{ProjectName}}.Application.Configuration
{
    public static class ResourceProviderConfiguration
    {
        public static ResourceProviderOptionsBuilder Configure(this ResourceProviderOptionsBuilder builder)
        {
            var language = "EN";
            builder
                .For<EmailSubject>()
                .UseDictionaryResourceProvider(new ResourceDictionary
                {
                    { "EN", new ResourceDictionary {
                        { EmailSubject.AccountCreated, "Welcome to the 3D application" },
                        { EmailSubject.AccountResetRequested, "3D application - Password reset" }}},
                    { "FR", new ResourceDictionary {
                        { EmailSubject.AccountCreated, "Bienvenue dans l'application 3D" },
                        { EmailSubject.AccountResetRequested, "3D application - Réinitialisation du mot de passe" }}}
                })
                .GetPathUsing(k => new Path(language, k));

            builder
                .For<ErrorCode>()
                .UseDictionaryResourceProvider(new ResourceDictionary
                {
                    { "EN", new ResourceDictionary {
                        {ErrorCode.ExistingUserEmail, "A user with the same email {userEmail} already exists."},
                        {ErrorCode.InvalidEmailOrPassword, "Invalid email or password."},
                        {ErrorCode.AccountLocked, "Your account is locked."},
                        {ErrorCode.PreviouslyUsedPassword, "This password has already been used in the past."},
                        {ErrorCode.WeakPassword, "Password '{password}' must contains at least 12 characters and contains a lower case letter, an upper case letter, a digit and a special character."}}
                    },
                    { "FR", new ResourceDictionary {}}
                })
                .GetPathUsing(k => new Path(language, k));

            //TODO TECH est-ce qu'on peut deserializer facilement ceci ?
            //TODO TECH peut-on changer facilement un template du framework ?
            //-> avec dictionaryResourceProvider il suffit de changer une clé
            //-> avec les autres à réfléchir
            builder
                .For<EmailTemplate>()
                .UseEmbeddedResourceProvider(Resource.AssemblyInfo.Assembly)
                .GetPathUsing(k => new Path(nameof(EmailTemplate), $"{k}.html"));
            return builder;
        }

        public static ContainerBuilder RegisterResourceProvider(this ContainerBuilder builder, ResourceProviderOptionsBuilder optionsBuilder)
        {
            builder.Register(c => optionsBuilder.Options).SingleInstance();
            builder.RegisterType<ResourceProvider>().As<IResourceProvider>().InstancePerLifetimeScope();
            builder.RegisterType<DictionaryResourceProvider>().AsSelf().InstancePerLifetimeScope();
            builder.RegisterType<EmbeddedResourceProvider>().AsSelf().InstancePerLifetimeScope();
            return builder;
        }
    }
}
