using System;
using CocoriCore;

namespace {{ProjectName}}.Application.Configuration
{
    public static class TokenConfigurationExtensions
    {
        public static TokenConfiguration Configure(this TokenConfiguration configuration)
        {
            configuration.AccessTokenDuration = TimeSpan.FromMinutes(10);
            configuration.RefreshTokenDuration = TimeSpan.FromDays(7);
            configuration.CreatePasswordTokenDuration = TimeSpan.FromDays(7);
            configuration.ResetPasswordTokenDuration = TimeSpan.FromHours(24);
            return configuration;
        }
    }
}
