﻿using Autofac;
using CocoriCore;

namespace {{ProjectName}}.Application.Configuration
{
    public static class UnitOfWorkConfiguration
    {
        public static UnitOfWorkOptionsBuilder Configure(this UnitOfWorkOptionsBuilder builder)
        {
            return builder;
        }

        public static ContainerBuilder RegisterUnitOfWork(this ContainerBuilder builder, UnitOfWorkOptionsBuilder optionsBuilder)
        {
            builder.Register(c => optionsBuilder.Options).As<UnitOfWorkOptions>().SingleInstance();
            builder.RegisterType<AutofacUnitOfWork>().As<IUnitOfWork>().InstancePerLifetimeScope();
            builder.RegisterType<AutofacUnitOfWorkFactory>().As<IUnitOfWorkFactory>().SingleInstance();
            return builder;
        }
    }
}
