using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using CocoriCore;

namespace {{ProjectName}}.Domain
{
    public interface IUserService
    {
        bool IsAuthenticated();
        Guid GetUserId();
    }
}