using System;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using CocoriCore;
using {{ProjectName}}.{{Domain}};

namespace {{ProjectName}}.WebApi
{
    public class UserService : IUserService
    {
        public bool IsAuthenticated()
        {
            throw new NotImplementedException();
        }

        public Guid GetUserId()
        {
            throw new NotImplementedException();
        }

        /*
        private readonly IAppHttpAuthenticator skelHttpAuthenticator;

        public UserService(IAppHttpAuthenticator skelHttpAuthenticator)
        {
            this.skelHttpAuthenticator = skelHttpAuthenticator;
        }

        public bool IsAuthenticated() {
            return skelHttpAuthenticator.IsAuthenticated();
        }

        public Guid GetUserId()
        {
            return skelHttpAuthenticator.GetUserId();
        }*/
    }
}