﻿using Autofac;
using CocoriCore;
using System;
using System.Collections.Generic;
using System.Reflection;
using {{ProjectName}}.Api.ResponseWriter;
using {{ProjectName}}.Application.Read.Response;

namespace {{ProjectName}}.Api
{
    public static class HttpResponseWriterConfiguration
    {
        private static Assembly apiAssembly = AssemblyInfo.Assembly;
        private static Assembly cocoriCoreAssembly = CocoriCore.AssemblyInfo.Assembly;

        public static HttpResponseWriterOptionsBuilder Configure(this HttpResponseWriterOptionsBuilder builder)
        {
            builder.For<FileResponse>().Call<HttpResponseWriterFileHandler>();
            builder.For<IODataResponse>().Call<HttpResponseWriterODataHandler>();
            builder.For<Guid>().Call<GuidResponseWriter>();
            builder.For<object>().Call<HttpResponseWriterDefaultHandler>();
            return builder;
        }

        public static ContainerBuilder RegisterHttpResponseWriter(this ContainerBuilder builder, HttpResponseWriterOptionsBuilder optionsBuilder)
        {
            builder.Register(c => optionsBuilder.Options).As<HttpResponseWriterOptions>().SingleInstance();
            builder.RegisterType<HttpResponseWriter>().As<IHttpResponseWriter>().InstancePerLifetimeScope();
            //TODO TECH vérifier que tous les les bus sont en instanceperlifetimescope
            builder.RegisterAssemblyTypes(cocoriCoreAssembly, apiAssembly).AssignableTo<IHttpReponseWriterHandler>().AsSelf();
            return builder;
        }
    }
}
