﻿using Autofac;
using CocoriCore;
using BigProjectValidation;
using Microsoft.AspNetCore.Hosting;
using System;
using System.Reflection;
using {{ProjectName}}.Api.ErrorWriter;

namespace {{ProjectName}}.Api.Configuration
{
    public static class HttpErrorWriterConfiguration
    {
        private static Assembly apiAssembly = AssemblyInfo.Assembly;
        private static Assembly cocoriCoreAssembly = CocoriCore.AssemblyInfo.Assembly;

        public static HttpErrorWriterOptionsBuilder Configure(this HttpErrorWriterOptionsBuilder builder, IHostingEnvironment environment)
        {
            builder.SetDebugMode(() => environment.IsDebug());
            builder.For<DeserializeMessageException>().Call<DeserializationExceptionWriter>();
            builder.For<RouteNotFoundException>().Call<RouteNotFoundExceptionWriter>();
            builder.For<ValidationException>().Call<ValidationExceptionWriter>();
            builder.For<AuthenticationException>().Call<AuthenticationExceptionWriter>();
            builder.For<InvalidTokenException>().Call<InvalidTokenExceptionWriter>();
            builder.For<Exception>().Call<DefaultExceptionWriter>();
            return builder;
        }

        public static ContainerBuilder RegisterHttpErrorWriter(this ContainerBuilder builder, HttpErrorWriterOptionsBuilder optionsBuilder)
        {
            builder.Register(c => optionsBuilder.Options).As<HttpErrorWriterOptions>().SingleInstance();
            builder.RegisterType<HttpErrorWriter>().As<IHttpErrorWriter>().InstancePerLifetimeScope();
            builder.RegisterAssemblyTypes(cocoriCoreAssembly, apiAssembly).AssignableTo<IHttpErrorWriterHandler>().AsSelf();
            return builder;
        }
    }
}
