﻿using Autofac;
using CocoriCore;
using CocoriCore.TestUtils;
using Jose;

namespace {{ProjectName}}.Api.Configuration
{
    public static class InfrastructureConfiguration
    {
        public static ContainerBuilder RegisterInfrastructure(this ContainerBuilder builder)
        {
            Application.Configuration.InfrastructureConfiguration.RegisterInfrastructure(builder);

            builder.RegisterType<JwtAuthenticator>().As<IClaimsProvider, IHttpAuthenticator>().InstancePerLifetimeScope();
            builder.RegisterType<Clock>().AsSelf().As<IClock>().SingleInstance();
            //TODO TECH impl vrai factory qui affecte id aux entités
            builder.RegisterType<FakeEntityFactory>().As<IFactory>().SingleInstance();
            //TODO TECH impl vrai système de fichier
            builder.RegisterType<InMemoryFileSystem>().As<IFileSystem>().SingleInstance();
            builder.RegisterType<PasswordService>().As<IPasswordService>().SingleInstance();
            builder.RegisterType<TokenService>().As<ITokenService>().SingleInstance();
            //TODO TECH : mettre un bon secret et le stocker de manière fiable
            builder.RegisterInstance(new JWTConfiguration("secret", JwsAlgorithm.HS256));
            builder.RegisterInstance(new SmtpRedirectConfiguration
            {
                From = "test@{{ProjectName}}.fr",
                Host = "smtp.host",
                RedirectTo = "e.mail@redirect.to"
                //TODO TECH brancher redirection email sur fichier de conf ?
            });
            builder.RegisterType<EmailRedirectService>().As<IEmailService>().AsSelf().SingleInstance();
            //TODO {{Domain}} tracer les emails envoyés pour maintenance ?
            return builder;
        }
    }
}
