﻿using Autofac;
using CocoriCore;
using Microsoft.AspNetCore.Hosting;
using {{ProjectName}}.Api.Configuration;

namespace {{ProjectName}}.Api
{
    public class IoCApi : {{ProjectName}}.Application.Configuration.IoCApplication
    {
        private AppSettings _appSettings;
        private IHostingEnvironment _environment;
        private ErrorBusOptionsBuilder _errorBusOptionsBuilder;
        private HttpErrorWriterOptionsBuilder _httpErrorWriterOptionsBuilder;
        private HttpResponseWriterOptionsBuilder _httpResponseWriterOptionsBuilder;

        public IoCApi(ContainerBuilder builder, AppSettings appSettings, IHostingEnvironment environment)
            : base(builder)
        {
            _appSettings = appSettings;
            _environment = environment;
            _errorBusOptionsBuilder = new ErrorBusOptionsBuilder();
            _httpErrorWriterOptionsBuilder = new HttpErrorWriterOptionsBuilder();
            _httpResponseWriterOptionsBuilder = new HttpResponseWriterOptionsBuilder();
        }

        public override void Configure()
        {
            base.Configure();
            _errorBusOptionsBuilder = ConfigureErrorBus(_errorBusOptionsBuilder);
            _httpErrorWriterOptionsBuilder = ConfigureHttpErrorWriter(_httpErrorWriterOptionsBuilder);
            _httpResponseWriterOptionsBuilder = ConfigureHttpResponseWriter(_httpResponseWriterOptionsBuilder);

        }
        public override void Register()
        {
            base.Register();
            RegisterMiddlewares(_appSettings);
            RegisterErrorBus(_errorBusOptionsBuilder);
            RegisterErrorWriter(_httpErrorWriterOptionsBuilder);
            RegisterResponseWriter(_httpResponseWriterOptionsBuilder);
            RegisterRouter();
            RegisterInfrastructure();
        }

        private ErrorBusOptionsBuilder ConfigureErrorBus(ErrorBusOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        private HttpErrorWriterOptionsBuilder ConfigureHttpErrorWriter(HttpErrorWriterOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure(_environment);
        }

        private HttpResponseWriterOptionsBuilder ConfigureHttpResponseWriter(HttpResponseWriterOptionsBuilder optionsBuilder)
        {
            return optionsBuilder.Configure();
        }

        public override void RegisterRepository()
        {
            _builder.RegisterRepository(BASE_REPO, RELOADER);
        }
        public override void RegisterInfrastructure()
        {
            _builder.RegisterInfrastructure();
        }

        public virtual void RegisterMiddlewares(AppSettings settings)
        {
            _builder.RegisterMiddlewares(settings);
        }

        public virtual void RegisterErrorBus(ErrorBusOptionsBuilder optionsBuilder)
        {
            _builder.RegisterErrorBus(optionsBuilder);
        }

        public virtual void RegisterErrorWriter(HttpErrorWriterOptionsBuilder optionsBuilder)
        {
            _builder.RegisterHttpErrorWriter(optionsBuilder);
        }

        public virtual void RegisterResponseWriter(HttpResponseWriterOptionsBuilder optionsBuilder)
        {
            _builder.RegisterHttpResponseWriter(optionsBuilder);
        }

        public virtual void RegisterRouter()
        {
            _builder.RegisterRouter();
        }
    }
}
