﻿using Autofac;
using CocoriCore;

namespace {{ProjectName}}.Api.Configuration
{
    public static class MiddlewareConfiguration
    {
        public static ContainerBuilder RegisterMiddlewares(this ContainerBuilder builder, AppSettings settings)
        {
            builder.RegisterInstance(settings).AsSelf();
            builder.RegisterType<CorsMiddleware>().AsSelf().SingleInstance();
            builder.RegisterType<HttpErrorMiddleware>().AsSelf().SingleInstance();
            builder.RegisterType<ErrorBusMiddleware>().AsSelf().SingleInstance();
            builder.RegisterType<HttpContextScopeMiddleware>().AsSelf().SingleInstance();
            builder.RegisterType<AppMiddleware>().AsSelf().SingleInstance();
            builder.RegisterType<NotFoundMiddleware>().AsSelf().SingleInstance();
            return builder;
        }
    }
}
