﻿using Autofac;
using CocoriCore;

namespace {{ProjectName}}.Api.Configuration
{
    public static class RepositoryConfiguration
    {
        public static ContainerBuilder RegisterRepository(this ContainerBuilder builder, string BASE_REPO, string RELOADER)
        {
            Application.Configuration.RepositoryConfiguration.RegisterRepository(builder, new TypedParameter<IRepository>(BASE_REPO));

            builder.RegisterType<InMemoryEntityStore>().AsSelf().SingleInstance();
            builder.RegisterType<MemoryRepositorySync>().AsSelf().InstancePerLifetimeScope();
            builder.RegisterType<MemoryRepository>()
                .AsSelf()
                .Named<IReloader>(RELOADER)
                .Named<IRepository>("memoryRepo")
                .InstancePerLifetimeScope();
            builder.RegisterType<TransactionDecorator>()
                .Named<IRepository>(BASE_REPO)
                .As<ITransactionHolder>()
                .WithParameter(new TypedParameter<IRepository>("memoryRepo"))
                .InstancePerLifetimeScope();
            return builder;
        }
    }
}
