﻿using Autofac;
using CocoriCore;
using Newtonsoft.Json;

namespace {{ProjectName}}.Api.Configuration
{
    public static class RouterConfiguration
    {
        public static ContainerBuilder RegisterRouter(this ContainerBuilder builder)
        {
            builder.RegisterType<{{ProjectName}}Router>().As<IRouter>().SingleInstance();
            builder.RegisterType<JsonSerializer>().AsSelf().SingleInstance();
            builder.RegisterType<{{ProjectName}}Formats>().As<IFormats>().SingleInstance();
            return builder;
        }
    }
}
