using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using {{ProjectName}}.{{Domain}};
using CocoriCore;
using CocoriCore.Ninject;
using Newtonsoft.Json;
using Ninject;
using Ninject.Extensions.ContextPreservation;
using Ninject.Extensions.NamedScope;

namespace {{ProjectName}}.{{Domain}}.Test
{
    public class Helper
    {
        private StandardKernel kernel;

        public Helper()
        {
            kernel = new StandardKernel();
            kernel.Load(new NamedScopeModule());
            kernel.Load(new ContextPreservationModule());
            kernel.Load(new CocoricoreNinjectModule());

            // Repository
            kernel.Bind<InMemoryEntityStore>().ToSelf().InSingletonScope();
            kernel.Bind<MemoryRepositorySync>().ToSelf().InSingletonScope();
            kernel.Bind<IRepository>().To<MemoryRepository>().InNamedScope("unitofwork");

            // messagebus
            kernel.Bind<HandlerFinder>().ToConstant(new HandlerFinder({{ProjectName}}.{{Domain}}.AssemblyInfo.Assembly)).InSingletonScope();
            kernel.Bind<IMessageBus>().To<{{ProjectName}}.{{Domain}}.MessageBus>().InNamedScope("unitofwork");
        }

        public async Task<T> LoadAsync<T>(Guid id) where T : class, IEntity
        {
            try
            {
                using (var unitOfWork = kernel.Get<IUnitOfWorkFactory>().NewUnitOfWork())
                {
                    var repository = unitOfWork.Resolve<IRepository>();
                    return await repository.LoadAsync<T>(id);
                }
            }
            catch (Exception exc)
            {
                throw exc;
            }
        }

        public async Task<object> ExecuteAsync(IMessage message)
        {
            try
            {
                var unitOfWorkFactory = kernel.Get<IUnitOfWorkFactory>();
                using (var unitOfWork = unitOfWorkFactory.NewUnitOfWork())
                {
                    var messagebus = unitOfWork.Resolve<IMessageBus>();
                    var response = await messagebus.ExecuteAsync(message);
                    return response;
                }
            }
            catch (Exception exc)
            {
                throw exc;
            }
        }
    }
}