using System;
using System.Threading.Tasks;
using CocoriCore;
using Xunit;

namespace {{ProjectName}}.{{Domain}}.Test
{
    public class TestWithHelper
    {
        protected Helper helper;

        public TestWithHelper()
        {
            helper = new Helper();
        }
    }
}
