using System;
using System.Threading.Tasks;
using CocoriCore;
using Microsoft.AspNetCore.Http;
using Newtonsoft.Json;
using {{ProjectName}}.{{Domain}};

namespace {{ProjectName}}.WebApi
{

    public class RouterConfiguration
    {

        public static RouterOptions Options()
        {
            var builder = new RouterOptionsBuilder();
            
            builder.Get<ApiFootprintQuery>().AddPath("footprint");

            return builder.Options;
        }
    }
}