using System;
using System.Collections.Generic;
using System.Threading.Tasks;
using {{ProjectName}}.{{Domain}};
using Xunit;

namespace {{ProjectName}}.{{Domain}}.Test
{
    public class Test{{QueryName}} : TestWithHelper
    {
        [Fact]
        public async Task {{QueryName}}()
        {
            /*
            await helper.ExecuteAsync(new {{QueryName}}Command()
            {
            });
            */

            var response = ({{QueryName}}Response) await helper.ExecuteAsync(new {{QueryName}}Query()
            {
                
            });
        }
    }
}
