﻿using System.Threading.Tasks;
using CocoriCore;

namespace {{ProjectName}}.{{Domain}}
{

    public class MessageBus : IMessageBus
    {
        private readonly HandlerFinder handlerTypes;
        private readonly IFactory factory;

        public MessageBus(HandlerFinder handlerTypes, IFactory factory)
        {
            this.handlerTypes = handlerTypes;
            this.factory = factory;
        }

        public async Task<object> ExecuteAsync(IMessage message)
        {
            if (message is IQuery)
            {

            }

            if (message is ICommand)
            {

            }

            return await FindHandlerAndExecute(message);
        }

        public async Task<object> FindHandlerAndExecute(IMessage message)
        {
            var h = factory.Create(this.handlerTypes.GetHandlerType(message));
            var response = await ((IHandler)h).HandleAsync(message);
            return response;
        }
    }
}