using System;
using System.Threading.Tasks;

namespace {{ProjectName}}.WebApi
{
    public class AppErrorBus : IAppErrorBus
    {
        public async Task HandleException(Exception e)
        {
            await Task.CompletedTask;
        }
    }

}
